# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# LFS tracking for common file types
## Images
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][oO] filter=lfs diff=lfs merge=lfs -text
*.[sS][vV][gG] filter=lfs diff=lfs merge=lfs -text
## 3D Models
*.[oO][bB][jJ] filter=lfs diff=lfs merge=lfs -text
*.[mM][tT][lL] filter=lfs diff=lfs merge=lfs -text
